<h3>Your Tamagotchi status:</h3>
<div class ="well">
  <h5><em>Name:</em> <%= @tamagotchi.name() %></h5>
  <h5><em>food level:</em> <%= @tamagotchi.food_level() %></h5>
  <h5><em>sleep level:</em> <%= @tamagotchi.sleep_level() %></h5>
  <h5><em>activity level:</em> <%= @tamagotchi.activity_level() %></h5>
  <h5><em>is alive:</em> <%= @tamagotchi.is_alive() %></h5>
</div>
